{% extends "base.html" %}

{% block content %}
<h3 class="mb-4">Formulario Cliente</h3>

<form method="POST">
    {% csrf_token %}

    <div class="row">

        <div class="col-md-6">
            <label>Nombre:</label>
            <input type="text" name="nombre" class="form-control"
                   value="{{ cliente.nombre|default:'' }}" required>
        </div>

        <div class="col-md-6">
            <label>Tipo:</label>
            <select name="tipo" class="form-control">
                <option value="NATURAL" {% if cliente.tipo == "NATURAL" %}selected{% endif %}>Natural</option>
                <option value="JURIDICA" {% if cliente.tipo == "JURIDICA" %}selected{% endif %}>Jurídica</option>
            </select>
        </div>

        <div class="col-md-6 mt-3">
            <label>Identificación:</label>
            <input type="text" name="identificacion" class="form-control"
                   value="{{ cliente.identificacion|default:'' }}" required>
        </div>

        <div class="col-md-6 mt-3">
            <label>Teléfono:</label>
            <input type="text" name="telefono" class="form-control"
                   value="{{ cliente.telefono|default:'' }}">
        </div>

        <div class="col-md-6 mt-3">
            <label>Correo:</label>
            <input type="email" name="correo" class="form-control"
                   value="{{ cliente.correo|default:'' }}">
        </div>

        <div class="col-md-12 mt-3">
            <label>Dirección:</label>
            <input type="text" name="direccion" class="form-control"
                   value="{{ cliente.direccion|default:'' }}">
        </div>

    </div>

    <div class="mt-4">
        <button class="btn btn-trans">Guardar</button>
        <a href="/clientes/" class="btn btn-secondary">Cancelar</a>
    </div>

</form>

{% endblock %}
