{% extends "base.html" %}
{% block content %}

<h2 class="mb-3">
    {% if cliente %}Editar Cliente{% else %}Crear Cliente{% endif %}
</h2>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label>Nombre</label>
        <input type="text" class="form-control" name="nombre" value="{{ cliente.nombre }}">
    </div>

    <div class="mb-3">
        <label>Tipo</label>
        <select class="form-control" name="tipo">
            <option value="NATURAL" {% if cliente.tipo == "NATURAL" %}selected{% endif %}>Natural</option>
            <option value="JURIDICA" {% if cliente.tipo == "JURIDICA" %}selected{% endif %}>Jurídica</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Identificación</label>
        <input type="text" class="form-control" name="identificacion" value="{{ cliente.identificacion }}">
    </div>

    <div class="mb-3">
        <label>Dirección</label>
        <input type="text" class="form-control" name="direccion" value="{{ cliente.direccion }}">
    </div>

    <div class="mb-3">
        <label>Teléfono</label>
        <input type="text" class="form-control" name="telefono" value="{{ cliente.telefono }}">
    </div>

    <div class="mb-3">
        <label>Correo</label>
        <input type="email" class="form-control" name="correo" value="{{ cliente.correo }}">
    </div>

    <button class="btn btn-success">Guardar</button>
    <a href="/clientes/" class="btn btn-secondary">Cancelar</a>

</form>

{% endblock %}

