{% extends "base.html" %}
{% block content %}

<h2 class="mb-3">
    {% if conductor %}Editar Conductor{% else %}Agregar Conductor{% endif %}
</h2>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Cédula</label>
        <input type="text" name="cedula" class="form-control" value="{{ conductor.cedula }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Nombres</label>
        <input type="text" name="nombres" class="form-control" value="{{ conductor.nombres }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Apellidos</label>
        <input type="text" name="apellidos" class="form-control" value="{{ conductor.apellidos }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input type="text" name="telefono" class="form-control" value="{{ conductor.telefono }}">
    </div>

    <button class="btn btn-success">Guardar</button>
    <a href="/conductores/" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}


