{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Gestión de Usuarios</h2>

<a href="/usuarios/nuevo/" class="btn btn-green mb-3">➕ Crear Usuario</a>

<table class="table table-bordered shadow-sm">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        {% for u in usuarios %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.first_name }} {{ u.last_name }}</td>
            <td>{{ u.perfil.get_rol_display }}</td>
            <td>{{ u.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
