body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@page {
    size: A4;
    margin: 0;
}

.pagina {
    width: 100%;
    height: 100%;
    padding: 40px 55px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}

td {
    padding: 4px;
    vertical-align: top;
}

.titulo-seccion {
    font-weight: bold;
    background: #e6e6e6;
    padding: 5px;
    margin-top: 12px;
}

.logos img {
    height: 70px;
    margin: 0 15px;
}

.firma img {
    height: 80px;
}

.qr img {
    height: 110px;
}
